li.sb-t-nav-link-new-book .new-book-pop {
	display: none;	
}

li.sb-t-nav-link-new-book.active .new-book-pop {
	display: block;
}

.new-book-pop {
	display: none;
  position: relative;
  left: -100px;
  top: 15px;
  width: 280px;
  height: 120px;
  background-color: #ecf0f1;
  border-radius: 2px;
  padding: 10px 0px 0px 0px;
  margin: 0; 
}

.new-book-pop:before {
  position: absolute;
  top: -7px;
  left: 132px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.new-book-pop:after {
  position: absolute;
  top: -6px;
  left: 133px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ecf0f1;
  border-left: 6px solid transparent;
  content: '';
}

.new-book-pop-bottom {
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 280px;
  background-color: red;
  text-align: center;
  font-size: 28px;
  font-weight: 300; 
  border-radius: 2px;
  
}

input.new-book-title {
  padding: 5px;
  width: 260px;
  height: 40px;
  margin: 10px 0px 0px 10px;
  border: 1px solid #e6eaf0;
  font-size: 14px;
  background-color: #ecf0f1;
}

input.new-book-title:focus {
  box-shadow: 0;
  border: 0;
  outline: none;
  color: #afb6bb;
  font-size: 14px;
  background-color: #ecf0f1;
  
}

.cancel-new-book {
    border-bottom-left-radius: 2px;
    float: left;
    width: 140px;
	height: 50px;
	padding-top: 10px;
    background-color: #f29c93;
}
.cancel-new-book:hover {
    cursor: pointer;
    background-color: #ed7c70;
}
.save-new-book {
    float: left;
    width: 140px;
    height: 50px;
	padding-top: 10px;
    background-color: #a7f3e4;
    border-bottom-right-radius: 2px;
}
.save-new-book:hover {
  background-color: #51e7c9;
  cursor: pointer;
}
  
/* MY BOOKS */
  
  li.sb-t-nav-link-my-books .my-books-pop {
  	display: none;
  }

  li.sb-t-nav-link-my-books.active .my-books-pop {
  	display: block;
  }
  
  .my-books-pop {
    position: relative;
    width: 280px;
    height: 180px;
	left: -100px;
	top: 15px;
	background-color: #ecf0f1;
    border-radius: 2px;
    padding: 10px 0px 0px 0px;
    margin: 0; 
  }
  
  .my-books-pop:before {
    position: absolute;
    top: -7px;
    left: 132px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
  }
  .my-books-pop:after {
    position: absolute;
    top: -6px;
    left: 133px;
    display: inline-block;
    border-right: 6px solid transparent;
	border-bottom: 6px solid #ecf0f1;
    border-left: 6px solid transparent;
    content: '';
  }
  .my-books-pop-top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 280px;
    height: 40px;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #e6eaf0;
    }
	
  .my-books-pop-top-close {
    float: left;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    color: #ed7c70;
    border-right: 1px solid #e6eaf0;
    font-size: 32px;
    padding-left: 0px;
	padding-top: 10px;
  }
  
  .my-books-pop-top-title {
      float: left;
	  width: 200px;
	  color: #b6c1d3;
      font-size: 18px;
      padding: 10px 0px 0px 0px;
      height: 40px;
  }
  
  .my-books-pop-top-close:hover {
    cursor: pointer;
    color: #e74c3c;
    background-color: #e6eaf0;
  }
  
  .my-books-list {
    list-style: none;
	margin: 0;
    padding: 0;
    width: 280px;
	text-align: left;
    height: 160px;
    overflow: scroll;
  }
  
  li.my-books-li {
    padding: 10px 0px 10px 20px;
  }

  li.my-books-li:hover {
	background-color: #62ade4;
    cursor: pointer;
	color: #fff;
	
	a.my-books-li-link {
		color: #fff;
	}
  
    }
  a.my-books-li-link {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-size: 14px;
	width: 100%;
	color: #7f8c8d;  
  } 